
*{
    margin: 0;
    padding: 0;
}



/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  



h1{
    font-family: 'Dancing Script', cursive;
}

.carousel-item img{
    width: 100%;
    height: 80vh;
}
.services{
    background-image: url('../img/d.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    padding-bottom: 30px;
}
.abc{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
h3{
    color: rgba(248, 42, 5, 0.911);

}p{

}

.card h3,p{
    padding: 0 30px;
}.card h3{
    color: rgb(245, 3, 184);
    
    font-family: 'Dancing Script', cursive;
}
.card img{
    height: 220px;
}
.card button{
    background-color: rgb(245, 3, 184);
    width: 100%;
}.card:hover{
    transform: scale(1.1);
    
    box-shadow: 10px 0px 10px 0px #979595;
    
}a{
    text-decoration: none;
    color: white;
}
 
/* login page */
.login{
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;;
    animation: animateBg 5s linear infinite;
    }
    @keyframes animateBg {
        100% {
            filter: hue-rotate(360deg);
        }
    }


/* =====GALLERY IMAGE======== */
.img-gallery{
    text-transform: capitalize;
    transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
}
.gallery{
    min-height: 100vh;
    /* background: ;#eee */
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 100px;
}
.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}
.img-gallery .gallery .controls .buttons{
    height: 40px;
    width: 140px;
    border-radius: 20px;
    background: #fff;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    text-align: center;
}
.gallery .controls .buttons.active{
    background: rgb(133, 9, 42);
    color: #fff;
    border-radius: 0px;

}
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.image{
    height: 250px;
    width: 350px;
    overflow: hidden;
    border: 15px solid #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.image:hover img{
    transform: scale(1.4);
}